* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(#87CEEB, #E0F6FF);
    overflow: hidden;
}

.corredor {
  position:absolute;
  bottom: 0;
  width: 200px;
}

.carro-vermelho {
    position: absolute;
    bottom: 10px;
    width: 150px;
    animation: car-animation 2s infinite linear;
}

@keyframes car-animation {
    from {
        right: -150px;
    }

    to {
        right: 100%;
    }
}